.title {
    text-align: center;
}

.chart-container {
    width: 100%;
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chart-title {
    margin-top: 0px;
}

.plot {
    width: 100%;
    height: 800px;
    margin-bottom: -50px;
}

.img-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.img-container img {
    max-width: 100%;
    height: auto;
    margin-right: 10px;
}
